.container {
    display: flex;
    height: inherit;
    justify-content: center;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    width: 700px;
    height: 100%;
    padding: var(--space-m);
}

